.card {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

h1 {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.card-body {
    border: 4px black;
    background-color: #333;
}

.card-img-top {
    height: 286px;
    width: 286px;
}

.card-title,
.card-text {
  color: white;
}

body {
    /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

/* Footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
    bottom: 0;
    width: 100%;
}

footer p {
margin: 0;
padding: 0;
font-size: 14px;
}

.fas.fa-star {
    font-size: 24px;
    color: #FFD700;
    text-shadow: 1px 1px #888;
    margin-bottom: 10px;
}

  .far.fa-star {
    font-size: 24px;
    color: #FFD700;
    text-shadow: 1px 1px #888;
    margin-bottom: 10px;
}

  .fas.fa-star-half-alt {
    font-size: 24px;
    color: #FFD700;
    text-shadow: 1px 1px #888;
    margin-bottom: 10px;
}